.button {
    background-color: #ffffff00;
    color: #000000;
    width: 9em;
    height: 2.9em;
    border: #000000 0.1em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.button svg {
    width: 1.6em;
    margin-left: 0.5em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}

.button:hover svg {
    transform: translateX(10px);
}

.text {
    margin-right: 1em;
}